<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Local Weather & National News</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    </nav>
   
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Weather in <%= @location %> </h1>
        <h5> Powered by Dark Sky API </h5>
        <p class="lead"> In <%= @location %>, it is currently <%= @forecast["currently"]["temperature"].round %>°F and <%= @forecast["currently"]["summary"].downcase %>. The high today will be <%= @forecast["daily"]["data"][0]["temperatureHigh"].round %>°F and the low will be <%= @forecast["daily"]["data"][0]["temperatureLow"].round %>°F.</p>
        <h2> <%= @location %> Extended Forecast </h2> 
        <p>
        <ul class="list-group list-group-flush">
            <% for @weekday in @forecast["daily"]["data"] %>
            <li class="list-group-item"> <%= Time.at(@weekday["time"]).strftime("%a") %> - A temperature range of <%= @weekday["temperatureLow"].round%>°F to <%= @weekday["temperatureHigh"].round%>°F and <%= @weekday["summary"].downcase%> </li>
            <% end %>
        </ul>
        </p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">News Headlines</h1>
        <h5> Powered by News API </h5>
        <div class="row">
        <% for news_articles in @news["articles"] %>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= news_articles["title"] %></h5>
                <a href="<%= news_articles["url"] %>" class="btn btn-primary"> Read at <%= news_articles["source"]["name"] %> </a>
            </div>
            </div>
        </div>
        <% end %>
        </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>